*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    align-self: center;
}

h1{
    text-align: center;
    padding: 60px 0;
}

.mat-input-element {
    background: rgba(112, 128, 144, 0.062);
}
